@use "./../../../styles/config/variables" as variable;

.button {
  /* box-model */
  display: block;
  padding: 0;
  margin-top: 10px;

  /* display and visibility */
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.icon {
  /* display and visibility */
  fill: variable.$wine-primary;
}
