@use "./variables" as variable;

@mixin headerBtn {
  border: 1px solid variable.$wine-primary;
  color: variable.$wine-primary;
  padding: 0.5px 25px;
  background-color: variable.$white;
  cursor: pointer;
  font-weight: 600;
  margin: 0 auto;
}
