// colors
$black-primary: #000;
$white: #fff;
$white-secondary: #f7f7f7;

$wine-primary: #781a25;
$wine-secondary: #a12734;
$opacity-primary: rgba(19, 129, 215, 0.12);

// box shadows
$dropdown-shadow: 0px 8px 16px 0px rgba(118, 32, 32, 0.2);

//media queries
$xsmall-and-up: "screen and (min-width : 600px)";
$tablet-and-up: "screen and (min-width : 768px)";
$md-tablet-and-up: "screen and (min-width : 1200px)";

// fonts
$main-font: "Poppins", sans-serif;

// letter spacing
$letter-spacing: -1.5px;
