.wrapper {
  display: flex;

  ul {
    display: flex;
    align-items: center;
    margin: 0 auto;
    list-style-type: none;
    font-size: 14px;
    font-weight: 600;
    li {
      margin: 0 30px;
      span {
        p {
          display: inline-flex;
          margin-right: 4px;
        }
      }
    }
  }
}

.topNav {
  display: flex;
  justify-content: flex-end;
  margin: 30px 0;

  li {
    span {
      display: flex;
      align-items: center;

      a {
        text-decoration: none;
        color: black;
      }

      img {
        margin-right: 18px;
      }
    }
  }

  li:first-child {
    margin: 0 35px;
  }
}

.button {
  border: 1px solid #781a25;
  color: #781a25;
  padding: 0.5px 45px;
  background-color: white;
  cursor: pointer;
  font-weight: 600;

  &:hover {
    background: #781a25;
    color: white;
  }
}
