.wrapper {
  display: flex;
  margin: 30px 0;
  @media screen and (min-width: 600px) {
    margin: 0;
  }

  ul {
    display: flex;
    align-items: center;
    margin: 0 auto;
    list-style-type: none;
    font-weight: 600;
    display: none;
    @media screen and (min-width: 1200px) {
      display: flex;
    }

    li {
      margin: 0 15px;
      position: relative;
      @media screen and (min-width: 1200px) {
        margin: 0 30px;
      }
      span {
        p {
          display: inline-flex;
          margin-right: 8px;
          margin-bottom: 15px;

          &:hover {
            cursor: pointer;
            color: #a12734;
          }
        }
      }

      &:hover {
        .dropdown {
          display: block;
        }
      }
    }
  }
}

.topNav {
  display: none;
  justify-content: flex-end;
  margin: 30px 0;

  li {
    span {
      display: flex;
      align-items: center;

      a {
        text-decoration: none;
        color: black;
      }

      img {
        margin-right: 18px;
      }
    }
  }

  li:first-child {
    margin: 0 35px;
  }

  @media screen and (min-width: 600px) {
    display: flex;
  }
}

.dropdown {
  display: none;
  position: absolute;
  background-color: #f7f7f7;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  min-width: 170px;
  border-radius: 5px;

  ul {
    display: flex;
    flex-direction: column;

    li {
      padding: 25px 20px;
      width: 100%;
      transition: 0.3s ease-in-out;

      a {
        list-style: none;
        text-decoration: none;
        color: black;
      }

      &:hover {
        cursor: pointer;
        background-color: rgb(220, 220, 220);

        // do something with the a element when li is hovered
        a {
          color: #781a25;
        }
      }

      a {
        word-break: break-all;
      }
    }
  }
}

.button {
  border: 1px solid #781a25;
  color: #781a25;
  padding: 0.5px 25px;
  background-color: white;
  cursor: pointer;
  font-weight: 600;
  margin: 0 auto;

  @media screen and (min-width: 368px) {
    padding: 0.5px 45px;
  }

  @media screen and (min-width: 1200px) {
    margin: 0;
  }

  &:hover {
    background: #781a25;
    color: white;
  }
}

// hamburger menu
.navOpen {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.hamburger {
  display: block;

  @media screen and (min-width: 1200px) {
    display: none;
  }
}
