@use "./../../styles/config/variables" as variable;
@use "./../../styles/config/mixins" as mixin;

.wrapper {
  /* display and visibility */
  display: flex;

  /* box-model */
  margin: 30px 0;

  @media #{variable.$xsmall-and-up} {
    /* box-model */
    margin: 0;
  }

  ul {
    /* display and visibility */
    display: none;
    align-items: center;

    /* box-model */
    margin: 0 auto;
    list-style-type: none;

    /* typography */
    font-weight: 600;

    @media #{variable.$md-tablet-and-up} {
      /* display and visibility */
      display: flex;
    }

    li {
      /* box-model */
      margin: 0 15px;

      /* position and layout */
      position: relative;
      @media #{variable.$md-tablet-and-up} {
        /* box-model */
        margin: 0 30px;
      }
      span {
        p {
          /* display and visibility */
          display: inline-flex;

          /* box-model */
          margin-right: 8px;
          margin-bottom: 15px;

          &:hover {
            cursor: pointer;
            color: variable.$wine-secondary;
          }
        }
      }

      &:hover {
        .dropdown {
          /* box-model */
          display: block;
        }
      }
    }
  }
}

.topNav {
  /* display and visibility */
  display: none;
  justify-content: flex-end;

  /* box-model */
  margin: 30px 0;

  li {
    span {
      /* display and visibility */
      display: flex;
      align-items: center;

      a {
        /* typography */
        text-decoration: none;
        color: variable.$black-primary;
      }

      img {
        /* box-model */
        margin-right: 18px;
      }
    }
  }

  li:first-child {
    /* box-model */
    margin: 0 35px;
  }

  @media #{variable.$xsmall-and-up} {
    /* display and visibility */
    display: flex;
  }
}

.dropdown {
  /* box-model */
  min-width: 170px;

  /* display and visibility */
  display: none;
  background-color: variable.$white-secondary;
  box-shadow: variable.$dropdown-shadow;
  z-index: 1;
  border-radius: 5px;

  /* position and layout */
  position: absolute;

  ul {
    /* display and visibility */
    display: flex;
    flex-direction: column;

    li {
      /* box-model */
      width: 100%;
      padding: 25px 20px;

      /* display and visibility */
      transition: 0.3s ease-in-out;

      a {
        /* typography */
        list-style: none;
        text-decoration: none;
        color: variable.$black-primary;
      }

      &:hover {
        /* display and visibility */
        cursor: pointer;
        background-color: rgb(220, 220, 220);

        // do something with the a element when li is hovered
        a {
          /* display and visibility */
          color: variable.$wine-primary;
        }
      }

      a {
        word-break: break-all;
      }
    }
  }
}

.hamburger {
  /* display and visibility */
  display: block;

  @media #{variable.$md-tablet-and-up} {
    /* display and visibility */
    display: none;
  }
}

// hamburger menu
.navOpen {
  /* display and visibility */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background: variable.$wine-primary;
  /* box-model */
  margin: 20px auto;

  @media #{variable.$md-tablet-and-up} {
    /* display and visibility */
    display: none;
  }

  /* position and layout */
  ul {
    /* display and visibility */
    width: 100%;

    li {
      /* box-model */
      padding: 25px;

      /* display and visibility */
      cursor: pointer;

      border: 1px solid variable.$white-secondary;

      /*  typography */
      text-align: center;
      font-size: 20px;
      font-weight: 700;
      color: variable.$white;

      :hover {
        color: variable.$wine-secondary;
        text-decoration: dotted;
      }
    }
  }
}
